.tsui-flex-container {
  position: relative;
  display: flex;
  flex-direction: row;

  &.horizontal {
    flex-direction: column;
  }

  .flex-block {
    flex-grow: 1;
    flex-shrink: 1;

    &.fixed {
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
}